.light {
  background: linear-gradient(
    100deg,
    hsl(342, 100%, 96%) 0%,
    #fcf8f6 20%,
    #fcf8f6 80%,
    hsl(342, 100%, 96%) 100%
  );
}

.skeleton {
  --contentWidth: 896px;
  padding: 1rem max(1rem, 50vw - var(--contentWidth) / 2);
  width: 100%;
}

.silver {
  background: linear-gradient(
      135deg,
      rgba(237, 253, 252, 0.8) 0.01%,
      rgba(213, 238, 246, 0.8) 70%,
      rgba(246, 254, 254, 0.8) 100%
    ),
    #ffffff;
  background-size: 200%;
  transition: 1s;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: rgb(128 128 128);
}

.silver:hover {
  background-position: 240%;
  box-shadow: none;
}

.silver:disabled {
  box-shadow: none;
  background-color: rgba(213, 238, 246, 0.8);
  background-position: 240%;
}

.gold {
  background: linear-gradient(
      135deg,
      rgba(255, 250, 194, 0.5) 0.01%,
      rgba(255, 208, 79, 0.5) 70%,
      rgba(255, 251, 204, 0.5) 100%
    ),
    #ffffff;
  background-size: 200%;
  transition: 1s;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: rgb(128 128 128);
}

.gold:hover {
  background-position: 240%;
  box-shadow: none;
}

.gold-text {
  background: linear-gradient(
      135deg,
      rgba(255, 250, 194, 0.5) 0.01%,
      rgba(255, 208, 79, 0.5) 70%,
      rgba(255, 251, 204, 0.5) 100%
    ),
    #ffffff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-stroke: 0.5px black;
  -webkit-text-stroke: 0.5px black;
}

.gold:disabled {
  background-color: #f8e7b7;
  box-shadow: none;
  background-position: 240%;
}

.silver-text {
  background: linear-gradient(
      135deg,
      rgba(237, 253, 252, 0.8) 0.01%,
      rgba(213, 238, 246, 0.8) 70%,
      rgba(246, 254, 254, 0.8) 100%
    ),
    #ffffff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-stroke: 0.5px black;
  -webkit-text-stroke: 0.5px black;
}

.cancel {
  background: #fdfaf6;
  color: red;
  transition: 1s;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: red;
}

.cancel:hover {
  box-shadow: none;
}

.disabled {
  background-color: #f8e7b7;
  box-shadow: none;
}

.card {
  background-color: rgb(255 234 224);
  border-radius: 0.375rem /* 6px */;
  border-color: rgb(128 128 128);
  border-width: 1px;
}

@media (min-width: 768px) {
  .hidden-card {
    background-color: transparent;
    border-radius: 0;
    border-color: transparent;
    border-width: 0;
    box-shadow: none;
    display: none;
  }
}

@media (min-width: 768px) {
  .desktop-card {
    background-color: rgb(255 234 224);
    border-radius: 0.375rem /* 6px */;
    border-color: rgb(128 128 128);
    border-width: 1px;
  }
}
